$main: #56A1F1;

html { 
  scroll-behavior: smooth; 
}

body {
  transition: all .3s;
}

.code10img {
  background-image: url(../images/code10.png);
  width: 100%;
  height: auto;
  background-size: cover;
}

#top-section {
  background-image: url(../images/img1.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
}

.text-neon {
  text-shadow: 0.0625rem 0.0625rem 2rem #1685e4;
}

.drop-blueshadow {
  filter: drop-shadow(0px 5px 16px $main);
}

.fixed-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  animation: smoothScroll 1s forwards;
  transition: all .3s;  
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0px);
	}
}

.active {
  transition: all .3s;
  color: #1685e4;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  height: 2.5rem;
  width: 5rem;
}
.lds-ellipsis div {
  position: absolute;
  top: 0.8125rem;
  width: 0.8125rem;
  height: 0.8125rem;
  // border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 0.5rem;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 0.5rem;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 2rem;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 3.5rem;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.grid-right-col {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 10fr 2fr;
}

.top-img {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 3rem;
    background-color: #fff;
    top: 0;
    right: 0;
    height: 100%;
  }

  &:after {
    content: '';
    position: absolute;
    width: 3rem;
    background-color: $main;
    top: 3rem;
    right: 0;
    bottom: 9rem;
    z-index: 2;
  }
}

.bottom-img {
  &:before {
    content: '';
    position: absolute;
    height: 3rem;
    background-color: $main;
    z-index: 2;
    bottom: 0;
    left: 9rem;
    right: 9rem;
  }
}

.grid-156 {
  display: grid;
  grid-template-columns: 9.75rem 1fr 1fr;
  grid-template-rows: auto;
}

.write-mode {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

// @font-face {
//   font-family: 'MonumentExtended-Regular';
//   src: url("../fonts/MonumentExtended-Regular.otf") format("opentype");
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// } 

// .mon {
//   font-family: 'MonumentExtended-Regular', sans-serif;
// }